	body{
			background: rgba(25,150,20,10%);
			border-bottom: 0px;
			border-top: 0px;
			border-left: 100px;
			border-right: 100px;
		}
		h1
		{
			margin-left: 350px;
		}
		img{
			margin-right: 0px
			margin-left:660px;
			margin-bottom: 30px;
			margin-top: 30px;
         }
         p
         {
            width: 60%;
            font-size: 20px;
            text-align: center;
            margin-left: 150px;
         }
		div
		{
			margin-left: 130px;
			margin-right: 360px;
		}
		li{
			font-size: 18px;
		}
		span{
			background: rgba(25,150,20,30%);
            border-bottom: rgba(25,150,20,.5%) 260px solid;
            border-left: rgba(25,150,20,.5%) 10px solid;
            border-right: rgba(25,150,20,.5%) 10px solid;
			float: right;
		}
		.titulo{
			margin-left: 450px;
		}
